@page
@using diplomska.Properties
@model diplomska.Pages.Analitika.CompareCallbackModel
@{
    ViewData["Title"] = "Compare Callback Transport";
}

<h2>@Resources.cb_compare</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.cb_field</th>
            <th>@Resources.cb_old_transport</th>
            <th>@Resources.cb_new_trnasport</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>StTransporta</td><td>@Model.OldTransport?.StTransporta</td><td>@Model.NewTransport?.StTransporta</td></tr>
        <tr><td>Planiran Prihod</td><td>@Model.OldTransport?.PlaniranPrihod</td><td>@Model.NewTransport?.PlaniranPrihod</td></tr>
        <tr><td>SP</td><td>@(Model.OldTransport?.Sp == true ? "Yes" : "No")</td><td>@(Model.NewTransport?.Sp == true ? "Yes" : "No")</td></tr>
        <tr><td>Skladisce</td><td>@Model.OldTransport?.Skladisce</td><td>@Model.NewTransport?.Skladisce</td></tr>
        <tr><td>Vrsta Transporta</td><td>@Model.OldTransport?.VrstaTransporta</td><td>@Model.NewTransport?.VrstaTransporta</td></tr>
        <tr><td>Pavza Voznika</td><td>@Model.OldTransport?.PavzaVoznika</td><td>@Model.NewTransport?.PavzaVoznika</td></tr>
        <tr>
            <td>Dolocen Skladiščnik</td>
            <td>@Model.NewTransport?.DolocenSkladiscnikNavigation?.Email</td>
            <td>@Model.NewTransport?.DolocenSkladiscnikNavigation?.Email</td>
        </tr>
        <tr>
            <td>Registracija</td>
            <td>
                @Model.OldTransport?.Registracija<br />
                Type: @Model.OldTransport?.VrstaPrevoznegaSredstva<br />
                Driver: @Model.OldTransport?.Voznik
            </td>
            <td>
                @Model.NewTransport?.Registracija<br />
                Type: @Model.NewTransport?.VrstaPrevoznegaSredstva<br />
                Driver: @Model.NewTransport?.Voznik
            </td>
        </tr>
        <tr><td>NAVIS Začetek Sklada</td><td>@Model.OldTransport?.NAVISZacetekSklada</td><td>@Model.NewTransport?.NAVISZacetekSklada</td></tr>
        <tr><td>NAVIS Konec Sklada</td><td>@Model.OldTransport?.NAVISKonecSklada</td><td>@Model.NewTransport?.NAVISKonecSklada</td></tr>
        <tr><td>Callback Reason</td><td>@Model.OldTransport?.CallbackReason</td><td>@Model.NewTransport?.SK</td></tr>
        <tr><td>Is Callback</td><td>@(Model.OldTransport?.IsCallback == true ? "Yes" : "No")</td><td>@(Model.NewTransport?.IsCallback == true ? "Yes" : "No")</td></tr>
    </tbody>
</table>
