@page
@model diplomska.Pages.Izmenovodja.DetailsModel

@{
    ViewData["Title"] = "Transport Details";
}

<h1>Transport Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Transport Information</h4>
            <table class="table">
                <tr>
                    <th>Sp</th>
                    <td>@Model.Transport.Sp</td>
                </tr>
                <tr>
                    <th>SK</th>
                    <td>@Model.Transport.SK</td>
                </tr>
                <tr>
                    <th>Skladisce</th>
                    <td>@Model.Transport.Skladisce</td>
                </tr>
                <tr>
                    <th>VrstaTransporta</th>
                    <td>@Model.Transport.VrstaTransporta</td>
                </tr>
                <tr>
                    <th>StTransporta</th>
                    <td>@Model.Transport.StTransporta</td>
                </tr>
                <tr>
                    <th>PlaniranPrihod</th>
                    <td>@Model.Transport.PlaniranPrihod</td>
                </tr>
                <tr>
                    <th>PavzaVoznika</th>
                    <td>@Model.Transport.PavzaVoznika</td>
                </tr>
                <tr>
                    <th>Registracija</th>
                    <td>@Model.Transport.Registracija</td>
                </tr>
                <tr>
                    <th>VrstaPrevoznegaSredstva</th>
                    <td>@Model.Transport.VrstaPrevoznegaSredstva</td>
                </tr>
                <tr>
                    <th>Voznik</th>
                    <td>@Model.Transport.Voznik</td>
                </tr>
                <tr>
                    <th>NAVISZacetekSklada</th>
                    <td>@Model.Transport.NAVISZacetekSklada</td>
                </tr>
                <tr>
                    <th>NAVISKonecSklada</th>
                    <td>@Model.Transport.NAVISKonecSklada</td>
                </tr>
                <tr>
                    <th>Assigned Skladiscnik</th>
                    <td>@Model.Transport.DolocenSkladiscnikId</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="/Izmenovodja/Index">Back to List</a>
            
            <!-- Edit Button -->
            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Transport.Id">Edit</a>
            
            <!-- Delete Button -->
            <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Transport.Id" onsubmit="return confirm('Are you sure you want to delete this transport?');">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
