@page
@using diplomska.Properties
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Resources.error</h1>
<h2 class="text-danger">@Resources.erorr_processing</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Resources.development_mode</h3>
<p>
    Swapping to the <strong>@Resources.development</strong> environment displays detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>@Resources.development</strong> environment by setting the <strong>@Resources.apsnetcore_environment</strong> environment variable to <strong>@Resources.development</strong>
    and restarting the app.
</p>
